@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Ribeye&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    padding: 0;

}

.logo{
    font-family: "Ribeye";
    font-size: 24px;
}

a{
    color: white;
    text-decoration: none; 
}

.Hero{
    width: 100%;
  min-height: 100vh;                         
  background-image: url("images/1hero.png");
  background-size: cover;                    
  background-position: center;
  background-repeat: no-repeat;;
}

.header {
    display: flex;
    width:70%;
    margin: 0 auto;
    position: relative;
    top:2vh;
}
.logo {
    align-self: center;
}
.header_nav ul {
    display: flex;
    gap: 5vh;
    list-style: none;
    font-family: "Roboto";
    font-size: 18px;
}

.header_nav{
    margin: 0 auto;
    display: flex;
    align-self: center;

}

.btn {
    width: 163px;
    height: 51px;
    border: none;
    border-radius: 5px;
    background-color: rgb(184, 55, 55);
    align-self: center;
    font-size: 16px;
}

.btn:hover{
    opacity: 80%;
}

.btn:active{
    opacity: 60%;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width:70%;
    margin: 0 auto;
    position: relative;
    top: 20vh;
    left: 5vh ;
}
.hero_h1{
    font-family: "Gelasio";
    font-size: 65px;
    font-weight: bold;
    margin: 0;
    line-height: 120%;
    margin-bottom: 30px;
}
.hero_h2{
    font-family: "Roboto";
    font-size: 18px;
    opacity: 60%;
    align-self: flex-start;
    line-height: 160%;
    font-weight: 400;
}
.hero_btn{
    width: 187px;
    height: 59px;
    border: none;
    border-radius: 5px;
    background-color: rgb(184, 55, 55);
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.popular{
    color: black;
    width: 85%;
    height: 688px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin: 15vh;
}

.popular_txt_1{
    align-self: center;
    font-weight: 500;
    font-size: 43px;
    font-family: "Gelasio";
    margin:0;
}

.popular_txt_2{
    align-self: center;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto";
    text-align: center;
    opacity: 60%;
}

.grid_locations{
    display: grid;
    display: grid;
  
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  gap: 20px;
    align-content: center;
    width: 100%;
    height: 500px;
    justify-content: space-between;

}

.stambul{
    width: 360px;
    height: 500px;
    border: 0.5px solid rgb(0, 0, 0, 10%);
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px gray ;
}

.stambul img{
    width: 360px;
    object-fit: cover;
}

.kuala{
    width: 360px;
    height: 500px;
    border: 0.5px solid rgb(0, 0, 0, 10%);
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px gray ;
}

.seoul{
    width: 360px;
    height: 500px;
    border: 0.5px solid rgb(0, 0, 0, 10%);
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px gray ;
    
}

.Stambul_popular_text{
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    opacity: 60%;
}

.Stanbul_Header{
    font-family: "Gelasio";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    opacity: 100%;

}

.kuala_header{
    font-family: "Gelasio";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    opacity: 100%;
}

.kuala_popular_text{
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    opacity: 60%;
}

.seoul_header{
    font-family: "Gelasio";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    opacity: 100%;
}

.seoul_popular_text{
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    opacity: 60%;
}
